[Desktop Entry]
Version=1.1
Type=Application
Name=WiSniff
Comment=Monitor mode GUI
Exec=sh -c "bash ~/WiSniff/wisniff.sh"
Icon=icon.png
Terminal=true
Categories=Network;Utility;
